.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba($color: #000000, $alpha: 0.2);
  padding: 30px;
  border-radius: 10px;
  gap: 20px;

  h2 {
    font-size: 32px;
  }

  .formulario {
    display: grid;
    grid-template-areas:
      "nome email"
      "numero empresa"
      "modelo quantidade"
      "mensagem mensagem";
    flex: 1;
    gap: 20px;

    .inputContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input,
      textarea,
      select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        resize: none;
      }
    }

    .inputNome {
      grid-area: nome;
    }

    .inputEmail {
      grid-area: email;
    }

    .inputModelo {
      grid-area: modelo;
    }

    .inputQuantidade {
      grid-area: quantidade;
    }

    .inputEmpresa {
      grid-area: empresa;
    }

    .inputNumero {
      grid-area: numero;
    }

    .inputMensagem {
      grid-area: mensagem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .formContainer {
    h2 {
      font-size: 24px;
    }

    .formulario {
      grid-template-areas:
        "nome"
        "email"
        "numero"
        "empresa"
        "modelo"
        "quantidade"
        "mensagem";

      .inputContainer {
        input {
          font-size: 12px;
          width: 100%;
        }

        textarea {
          font-size: 12px;
        }
      }
    }
  }
}
