.redirecionamento {
  background-color: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  position: fixed;
  top: 0;
  right: 8em;
  z-index: 11;
  display: flex;
  padding-left: 1em;
  align-items: center;
  justify-content: center;
  gap: 1em;
  box-shadow: 0px 4px 10px 0px rgba($color: #000000, $alpha: 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px 0px rgba($color: #000000, $alpha: 0.4);
  }

  span {
    font-weight: bold;
    color: #1a15b2;
    user-select: none;
  }

  .iconContainer {
    background-color: #6421ff;
    border-bottom-right-radius: 16px;
    padding: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 1.6em;
      object-fit: contain;
      height: fit-content;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .redirecionamento {
    right: 1em;

    span {
      font-size: 13px;
    }
  }
}
