.footerContainer {
  background: #272f8f;
  background: linear-gradient(
    141deg,
    rgba(39, 47, 143, 1) 0%,
    rgba(70, 72, 135, 1) 27%,
    rgba(5, 24, 36, 1) 73%
  );
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0;
  padding-bottom: 0;

  .upper {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    gap: 4em;
    align-items: center;
    padding: 2em 4em;
    width: 100%;

    span,
    h3,
    h2,
    p {
      color: white;
    }

    h2 {
      font-weight: 100;
    }

    .marcaGrupo {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      width: 30%;

      .socialsIcons {
        display: flex;
        gap: 0.4em;
      }
    }

    .segmentos,
    .servicos,
    .contatos {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 0.4em;

      h3 {
        color: white;
      }

      span {
        color: var(--gray);
      }

      ul {
        li {
          color: var(--gray);
          transition: all 0.2s ease-in-out;
          list-style-type: disc;
          margin-left: 1em;

          .links {
            color: var(--gray);
            transition: all 0.2s ease-in-out;
          }

          &:hover {
            color: white;

            .links {
              color: white;
            }
          }
        }
      }
    }
  }

  hr {
    width: 95%;
    opacity: 0.4;
  }

  .middle {
    display: flex;
    padding: 2em 4em;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    gap: 4em;
    width: 100%;

    h3 {
      color: white;
    }

    .infosContatos {
      display: flex;
      flex-direction: column;
      gap: 0.4em;
      flex: 1;

      .contato {
        display: flex;
        gap: 0.6em;
        align-items: center;
        width: fit-content;

        span {
          color: var(--gray);
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #272f52;
          padding: 0.6em;
          border-radius: 10px;
          transition: all 0.1s ease-in-out;
        }

        @keyframes pulo {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-3px);
          }
          100% {
            transform: translateY(-2px);
          }
        }

        &:hover {
          span {
            color: white;
          }

          .icon {
            animation: pulo 0.2s ease-in-out;
            background-color: #2563eb;
            stroke: white;
          }
        }
      }
    }

    .linksRapidos {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 0.4em;

      ul {
        height: 100%;

        li {
          list-style: disc;
          color: var(--gray);
          margin-left: 1em;
          transition: all 0.2s ease-in-out;
          width: fit-content;

          .links {
            color: var(--gray);
            transition: all 0.2s ease-in-out;
          }

          &:hover {
            color: white;

            .links {
              color: white;
            }
          }
        }
      }
    }

    .emailNovidade {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.4em;

      p {
        color: var(--gray);
      }

      .inputEmail {
        display: flex;

        input {
          outline: none;
          padding: 0.8em;
          border: none;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          width: 20em;
          border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
          background-color: #1d2236;
          color: #596392;
          font-weight: bold;
        }

        button {
          padding: 0.8em 1.4em;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          outline: none;
          border: none;
          background: #273099;
          background: linear-gradient(
            90deg,
            rgba(39, 48, 153, 1) 0%,
            rgba(75, 86, 204, 1) 50%,
            rgba(126, 39, 153, 1) 100%
          );
          font-weight: bold;
          color: white;
          cursor: pointer;
          border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        }
      }
    }
  }

  .down {
    border-top: 1px solid white;
    padding: 0.8em 2em;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;

    span {
      color: white;
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 420px) {
  .footerContainer {
    .upper {
      width: 100%;
      padding: 2em;
      flex-direction: column;
      gap: 1.8em;
      padding-top: 0;

      span,
      p {
        font-size: small;
      }

      h2 {
        font-size: large;
      }

      .marcaGrupo {
        width: 100%;
        gap: 1em;
        flex: 1;

        h2 {
          font-size: 24px;
        }

        p {
          font-size: 16px;
        }

        .socialsIcons {
          gap: 1em;
        }
      }

      .servicos,
      .contatos,
      .segmentos {
        width: 100%;
      }
    }

    .hr {
      display: none;
    }

    .middle {
      flex-direction: column;
      padding: 2em;
      gap: 1.8em;

      .infosContatos {
        width: 100%;
      }

      .linksRapidos {
        width: 100%;
        display: none;
      }

      .emailNovidade {
        width: 100%;

        .inputEmail {
          input {
            width: 100%;
          }
        }
      }
    }

    .down {
      padding: 2em 1em;
      span {
        font-size: 0.8em;
      }
    }
  }
}